<app-popup title="FAQ" [isOpen]="isOpen" (onClose)="onClose()" height="inherit" width="100%" left="0" top="0" position="absolute">
   <div class="popup-faq">
      <h3 class="popup-faq__title">Первым делом, добавьте необходимые вам упражнения:</h3>
      <ol>
         <li>
            <div>Откройте настройки.</div>
            <iframe src="/?faq=button-settings" width="100%" height="450px"></iframe>
         </li>
         <li>
            <div>Вы можете переименовывать и удалять текущие упражнения, а также добавить новое упражнение.</div>
            <iframe src="/?faq=settings" width="100%" height="500px"></iframe>
            <div class="popup-faq__note-title">Заметки:</div>
            <div class="popup-faq__note">Для переименования, достаточно кликнуть на название упражнения</div>
            <div class="popup-faq__note">цифра слева от кнопки удаления - количество сохранённых результатов по этому упражнению</div>
         </li>
         <li>
            Все сохранения происходят автоматически, новые упражнения вы сразу же сможете увидеть на панели:
         </li>
      </ol>
 
      ===================================================
      Как начать упражняться?
 
         1. Выберите то упражнение, которое будете сейчас делать
         картинка 4
         2. настройте время отдыха между подходами
         (это время можно менять на протяжении всего упражнения)
         картинка 5
         3. Сделайте первый разминочный подход
         4. после завершения подхода, для начала отдыха, нажмите на зелёную кнопку старта таймера
         картинка 6
         
         Появиться первая строка для занесения результатов.
         Если строка не появилась, то нажмите на кнопку "Добавить"
         
         5. В столбец Кол-во, добавьте то, сколько раз вы сделали упражнение в текущем подходе.
         6. В столбец Масса, добавьте тот вес гирь или штанги, который вы подняли, если это силовое упражнение.
         иначе просто оставте 0
         
         7. Отдыхайте пока таймер не дойдёт до 0. 
         
         Если у вас громкость звука не на 0 и стоит галочка "Проигрывать звук после завершения", 
            то вы услышите сигнал.
         Если у вас Windows и вы в настройках включите "push-уведомления", 
            то в правом нижнем экране появиться уведомление об истечении таймера.
         
         8. Начинайте новый подход.
         затем повторяйте пункты со 2
 
         9. Когда закончите упражнение, нажмите на кнопку "Сохранить и обнулить".
         Результаты упражнения будут сохранены в ваш текущий браузер, в котором открыт данный сайт
         Если у вас подключен Google Drive и вы в сети, то данные также сохраняются на ваш 
            Google Drive в файл DataTimer.txt
            
         Если вы только пробовали/"тыкали" таймер и не хотите сохранять результаты, то нажмите 
            на кнопку "Очистить"
         
      =====================================================
         Как я могу увидеть динамику улучшения своих результатов?
         
         1. Выберите интересующее вас упражнение
         картинка 4
         2. Нажмите на кнопку "Динамика упражнения" (в самом низу)
         картинка 
         
         
         График - измеритель ваших изменений по всем сохраненным результатам
         Но главным стимулом роста показателей, является отображение предыдущих результатов 
            по текущему упражнению. Для этого, в настройках должна стоять галочка у пункта 
               "Отображать предыдущие результаты рядом с текущими"
            Видя прошлые результаты, вы можете настроиться на то, 
            чтобы преодолеть их и сделать больше.
         С таким настроем в каждом упражнении, вы непременно добьетесь существенного роста мышц.
        



   </div>
</app-popup>