.popup-exercise-results{
	&__table{
		&-td-button{
			text-align: center;
			width: 40px;
		}

		&-tr{
			&_selected > td{
				background: #2795ae;
				color: white;
			}
		}
	}

	&__select-exercise{
		float: right;
	}

	&__button{
		width: 35px;
		height: 30px;
		border-radius: 7px;
		color: #fff;
		line-height: 30px;

		&-remove{
			background: #ce5545;
			border: 1px solid #943326;

			&:hover {
				background-color: #af3d2d;
			}
			
			&:focus {
				background-color: #8d3024;
		   }
		}

		&-info{
			background: #3498db;
			border: 1px solid #2774a7;
			
			&:hover {
				background-color: #1b6ca1;
			}
			
			&:focus {
				background-color: #15537c;
		   }
		}
	}
}