.timer{
    background-color: #dfdfe0;
    padding: 35px 15px;
    text-align: center;
    position: relative;

    &__window{
      border-radius: 5px;
      background-color: white;
      font-size: 80px;
      margin: auto;
      text-align: center;
      line-height: 1.7;
      color: #444;
      min-width: 450px;
      width: 35%;
    }

    &__control{
      margin-top: 10px;
    }

    &__settings{
      position: absolute;
      left: 17px;
      top: 45px;
    }
}