.timer{
   @media (max-width: 516px)  {
      background-color: #fff;
   }

   background-color: #dfdfe0;
   padding: 35px 15px;
   text-align: center;
   position: relative;

   @media (max-width: 630px)  {
      padding: 0;
   }

   &__button-settings{
      position: absolute;
      right: 5px;
      top: 5px;
      height: 35px;
      width: 35px;
      font-size: 20px;

      &:hover{
         background-color: #00000014;
      }
      &:active{
         background-color: #00000024;
      }
   }

   &__window{
      margin: auto;
      @media (max-width: 825px)  {
         margin-left: calc(90% - 450px);
      }
      @media (max-width: 760px)  {
         margin-left: calc(95% - 450px);
      }
      @media (max-width: 685px)  {
         margin-left: calc(100% - 450px);
      }
      @media (max-width: 630px)  {
         margin: 0;
         width: 100%;
      }
      @media (max-width: 480px)  {
         font-size: 75px;
      }
      @media (max-width: 400px)  {
         font-size: 70px;
      }

      border-radius: 5px;
      background-color: white;
      font-size: 80px;
      text-align: center;
      line-height: 1.7;
      color: #444;
      min-width: 450px;
      width: 35%;
   }

   &__control{
      @media (min-width: 631px)  {
         margin-top: 10px;
      }

      @media (max-width: 516px)  {
         border-bottom: 80px solid #dfdfe0;
         border-left: 50px solid transparent;
         border-right: 50px solid transparent;
         height: 0;
         width: 170px; 
         margin: auto;
      }
      @media (max-width: 480px)  {
         border-bottom-width: 75px;
      }
   }

   &__settings{
      position: absolute;
      left: 17px;
      top: 45px;
   }

   &__decor-triangle-left, &__decor-triangle-right{
      @media (max-width: 480px)  {
         top: 153px;
      }

      position: absolute;
      top: 165px;
      width: 0;
      height: 0;
      border: 0 solid #7c0000;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      z-index: 1;
   }

   &__decor-triangle-left {
      right: 0;
      border-right-width: 100px;
   }

   &__decor-triangle-right {
      left: 0;
      border-left-width: 100px;
   }
}