.popup-result-info{
	&__table{
		&-box{
			width: 50%;
			float: left;
			overflow: auto;
			height: 365px;
		}
	}

	&__box-info{
		width: calc(50% - 60px);
		padding: 20px 30px;
		float: right;

		&-item{
			margin-bottom: 10px;

			& > b{
				margin-right: 5px;
			}
		}
	}
}