.exercise-results{
    &__panel{
        height: 38px;
        background-color: #006f92;
        color: white;
        position: relative;
        line-height: 38px;
        display: flex;

        &-statistics{
            flex-grow: 1;
        }
    }

    &__tables{
        position: relative;
    }

    &__table-results-old{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        width: 100%;
    }
}