.exercise-results{
    &__panel{
        height: 38px;
        background-color: #006f92;
        color: white;
        position: relative;
        line-height: 38px;
        display: flex;

        &-statistics{
            flex-grow: 1;
        }
    }
}