<label class="timer-settings__input-box">
  <input class="timer-settings__input" type="number" [(ngModel)]="hours" (change)="changeHours()">
  <span class="timer-settings__input-label">Часов</span>
</label>

<label class="timer-settings__input-box">
  <input class="timer-settings__input" type="number" [(ngModel)]="minutes" (change)="changeMinutes()">
  <span class="timer-settings__input-label">Минут</span>
</label>

<label class="timer-settings__input-box">
  <input class="timer-settings__input" type="number" [(ngModel)]="seconds" (change)="changeSeconds()">
  <span class="timer-settings__input-label">Секунд</span>
</label>

<app-checkbox text="Проигрывать звук после завершения" [value]="isPlaySoundInEnd" (onToggle)="changeIsPlaySoundInEnd()"></app-checkbox>